/**
 * SECTION: Variables definitions
 */
:root {
  --color-alpha: #ececec;
  --color-alpha: lch(93% 0 270);
  --color-alpha-text: lch(20% 0 270);
  --color-accent-text: #0f75bc;
  --color-accent-text: lch(55% 35% 247);
  --bg-header: var(--color-alpha);
  --bg-body: var(--color-alpha);
}

/**
 * SECTION: fonts,text,line-spacing and inherit-ables.
 */
html {
  font-family: 'Roboto', -apple-system, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  -webkit-text-size-adjust: 100%;
}
.alternate-font-style {
  font-family: Georgia, serif;
  font-weight: 100;
}
gv-markdown-content {
  line-height: 1.5em;
}

/**
 * SECTION: Global
 */
html {
  color: var(--color-alpha-text);
  background-color: var(--bg-header);
  overflow-y: scroll;
}
body {
  margin: 0;
}
html,
body {
  min-height: 100%;
  overflow-x: hidden;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a {
  color: var(--color-accent-text);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/**
 * SECTION: Layout landmarks
 */
#body-wrapper {
  margin: 0 3em;
  max-width: 100%;
  display: grid;
}
#body-wrapper > .section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}
#body-wrapper > header.section {
  flex-direction: row;
}

/**
 * SECTION: Intro
 */
.section-intro h1 {
  font-size: 4em;
  font-weight: 100;
  margin: 0;
}
.section-intro p {
  font-size: 1.2em;
}

/**
 * SECTION: Utilities
 */
.underlined {
  border-bottom: 3px solid var(--color-accent-text);
}

/**
 * Media queries
 **/
@media (width <= 1250px) {
  #body-wrapper {
    margin: 0 1.2em;
  }
  .section-intro h1 {
    font-size: 2.4em;
  }
}

@media print {
  /* Print in parens what's in parens */
  a[href]:not([href^='mailto']):after {
    /*   :not([href^="mailto"])
     *   ----------------------
     *   Is to not print the mail to, keep this as long as you're keeping the EMail link text the same as the email.
     */
    content: ' (see ' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
}
